In [1]:
import pandas as pd
import basedosdados as bd

In [37]:
# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_inpe_prodes',
table_id='municipio_bioma',
billing_project_id="serene-mender-291402")

Downloading: 100%|██████████| 150328/150328 [00:15<00:00, 9944.61rows/s]

In [38]:
df.head()

,ano,id_municipio,bioma,area_total,desmatado,vegetacao_natural,nao_vegetacao_natural,hidrografia
0,2012,1707207,Amazônia,0,61.9,-62.1,0.2,0.0
1,2004,1707207,Amazônia,0,60.0,-60.2,0.2,0.0
2,2015,1707207,Amazônia,0,61.9,-62.1,0.2,0.0
3,2021,1707207,Amazônia,0,61.9,-62.1,0.2,0.0
4,2017,1707207,Amazônia,0,61.9,-62.1,0.2,0.0

Convertendo codigos dos municipios para seus respectivos nomes

In [45]:
caminho_arquivo = './RELATORIO_DTB_BRASIL_MUNICIPIO.xls' 
ibge_df = pd.read_excel(caminho_arquivo)

selecao = ibge_df[ibge_df['Unnamed: 1'] == 'Amazonas']
amazonas_df = pd.DataFrame(selecao).reset_index(drop=True)
colunas_para_manter = ['Unnamed: 11', 'Unnamed: 12']
amazonas_df = amazonas_df[colunas_para_manter]
municipios_amazonas = amazonas_df.set_index('Unnamed: 11')['Unnamed: 12'].to_dict()
#print(municipios_amazonas)

df_amazonas = df[df['id_municipio'].isin(municipios_amazonas.keys())]
df_amazonas['id_municipio'] = df_amazonas['id_municipio'].map(municipios_amazonas)

df_amazonas.head()
#df_amazonas.groupby('id_municipio').size()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

,ano,id_municipio,bioma,area_total,desmatado,vegetacao_natural,nao_vegetacao_natural,hidrografia
12259,2006,Santo Antônio do Içá,Amazônia,12306,130.0,11650.7,89.4,435.9
12260,2009,Santo Antônio do Içá,Amazônia,12306,133.4,11647.3,89.4,435.9
12261,2014,Santo Antônio do Içá,Amazônia,12306,137.2,11643.5,89.4,435.9
12262,2010,Santo Antônio do Içá,Amazônia,12306,134.2,11646.5,89.4,435.9
12263,2012,Santo Antônio do Içá,Amazônia,12306,137.2,11643.5,89.4,435.9