In [14]:
import pandas as pd
import basedosdados as bd

In [35]:
# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_inpe_prodes',
table_id='municipio_bioma',
billing_project_id="serene-mender-291402")

Downloading: 100%|██████████| 150328/150328 [00:13<00:00, 11074.66rows/s]

In [41]:
df.head()

,ano,id_municipio,bioma,area_total,desmatado,vegetacao_natural,nao_vegetacao_natural,hidrografia
0,2012,1707207,Amazônia,0,61.9,-62.1,0.2,0.0
1,2004,1707207,Amazônia,0,60.0,-60.2,0.2,0.0
2,2015,1707207,Amazônia,0,61.9,-62.1,0.2,0.0
3,2021,1707207,Amazônia,0,61.9,-62.1,0.2,0.0
4,2017,1707207,Amazônia,0,61.9,-62.1,0.2,0.0

In [42]:
selecao = df[df['id_municipio'] == '1300706']
print(selecao)

         ano id_municipio     bioma  area_total  desmatado  vegetacao_natural  \
124522  2010      1300706  Amazônia       21962     2053.3            19726.1
124523  2011      1300706  Amazônia       21962     2111.9            19667.5
124524  2012      1300706  Amazônia       21962     2165.4            19614.0
124525  2001      1300706  Amazônia       21962     1264.8            20514.6
124526  2017      1300706  Amazônia       21962     2500.4            19279.0
124527  2020      1300706  Amazônia       21962     2893.9            18885.5
124528  2003      1300706  Amazônia       21962     1637.0            20142.4
124529  2008      1300706  Amazônia       21962     1977.7            19801.7
124530  2016      1300706  Amazônia       21962     2406.2            19373.2
124531  2006      1300706  Amazônia       21962     1905.4            19874.0
124532  2009      1300706  Amazônia       21962     2001.9            19777.5
124533  2015      1300706  Amazônia       21962     2317.8            19461.6
124534  2005      1300706  Amazônia       21962     1829.9            19949.5
124535  2021      1300706  Amazônia       21962     3094.1            18685.3
124536  2007      1300706  Amazônia       21962     1939.5            19839.9
124537  2014      1300706  Amazônia       21962     2271.6            19507.8
124538  2022      1300706  Amazônia       21962     3274.4            18505.0
124539  2000      1300706  Amazônia       21962     1209.9            20569.5
124540  2013      1300706  Amazônia       21962     2199.0            19580.4
124541  2002      1300706  Amazônia       21962     1379.4            20400.0
124542  2019      1300706  Amazônia       21962     2751.8            19027.6
124543  2018      1300706  Amazônia       21962     2607.7            19171.7
124544  2004      1300706  Amazônia       21962     1768.4            20011.0

        nao_vegetacao_natural  hidrografia
124522                   58.5        124.1
124523                   58.5        124.1
124524                   58.5        124.1
124525                   58.5        124.1
124526                   58.5        124.1
124527                   58.5        124.1
124528                   58.5        124.1
124529                   58.5        124.1
124530                   58.5        124.1
124531                   58.5        124.1
124532                   58.5        124.1
124533                   58.5        124.1
124534                   58.5        124.1
124535                   58.5        124.1
124536                   58.5        124.1
124537                   58.5        124.1
124538                   58.5        124.1
124539                   58.5        124.1
124540                   58.5        124.1
124541                   58.5        124.1
124542                   58.5        124.1
124543                   58.5        124.1
124544                   58.5        124.1