In [2]:
import pandas as pd
import basedosdados as bd

In [ ]:
# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_inpe_prodes',table_id='municipio_bioma',billing_project_id="serene-mender-291402")

In [ ]:
df.head()

Convertendo codigos dos municipios para seus respectivos nomes

In [ ]:
caminho_arquivo = './RELATORIO_DTB_BRASIL_MUNICIPIO.xls' 
ibge_df = pd.read_excel(caminho_arquivo)

selecao = ibge_df[ibge_df['Unnamed: 1'] == 'Amazonas']
amazonas_df = pd.DataFrame(selecao).reset_index(drop=True)
colunas_para_manter = ['Unnamed: 11', 'Unnamed: 12']
amazonas_df = amazonas_df[colunas_para_manter]
municipios_amazonas = amazonas_df.set_index('Unnamed: 11')['Unnamed: 12'].to_dict()
#print(municipios_amazonas)

df_amazonas = df[df['id_municipio'].isin(municipios_amazonas.keys())]
df_amazonas['id_municipio'] = df_amazonas['id_municipio'].map(municipios_amazonas)

Salvando dados somente do estado do Amazonas

In [4]:
#Renomeando coluna e salva dados do amazonas
df_amazonas = df_amazonas.rename(columns={'id_municipio': 'municipio'})
df_amazonas.to_csv('amazonas_desmatamento.csv')

In [3]:
df_amazonas = pd.read_csv('amazonas_desmatamento.csv')
df_amazonas.head()

,id,ano,municipio,bioma,area_total,desmatado,vegetacao_natural,nao_vegetacao_natural,hidrografia
0,12259,2006,Santo Antônio do Içá,Amazônia,12306,130.0,11650.7,89.4,435.9
1,12260,2009,Santo Antônio do Içá,Amazônia,12306,133.4,11647.3,89.4,435.9
2,12261,2014,Santo Antônio do Içá,Amazônia,12306,137.2,11643.5,89.4,435.9
3,12262,2010,Santo Antônio do Içá,Amazônia,12306,134.2,11646.5,89.4,435.9
4,12263,2012,Santo Antônio do Içá,Amazônia,12306,137.2,11643.5,89.4,435.9

In [5]:
import pandas as pd
import json

df_amazonas = pd.read_csv('/home/daramariabas/Documentos/UNB/2023-2/2023-2-Squad02/extrator/amazonas_desmatamento.csv')

# Calcular a soma do desmatamento para cada ano
soma_desmatado_por_ano = df_amazonas.groupby('ano')['desmatado'].sum().reset_index()

# Converter para um dicionário
resultado_dict = soma_desmatado_por_ano.to_dict(orient='records')

# Especificar o caminho do arquivo para salvar o JSON
caminho_arquivo_json = '/home/daramariabas/Documentos/UNB/2023-2/2023-2-Squad02/extrator/dados_desmatamento_json/dados_gerais/total_desmatado_ano.json'

# Salvar o resultado em um arquivo JSON
with open(caminho_arquivo_json, 'w') as arquivo_json:
    json.dump(resultado_dict, arquivo_json, indent=2)

print(f'O resultado foi salvo em {caminho_arquivo_json}')

O resultado foi salvo em /home/daramariabas/Documentos/UNB/2023-2/2023-2-Squad02/extrator/dados_desmatamento_json/dados_gerais/total_desmatado_ano.json